header.bg-secondary{
    background-color:  rgba(0,0,0,0.2) !important;
}
#lupa{
    color:  white;
}

nav.navbar-dark {
    background-color:  rgba(0,0,0,0.5) !important;
}
footer.bg-dark{
    background-color:  rgba(0,0,0,0.6) !important;
}
main{
    margin-top: 20px;
}

#susButton{
    margin-top: 40px;
}

h2{
    font-size: 25px;
    text-transform: uppercase;
    background-color: lightgray;
    padding: 5px;
}

h3{
color: grey;
font-size: 20px;
text-transform: uppercase;
}
